packaging
petastorm
pytest
pyarrow<15.0.0
ray[tune, data, default]
scikit-learn
# modin==0.23.1.post0 is not compatible with xgboost_ray py38
modin<=0.23.1; python_version == '3.8'
# modin==0.26.0 is not compatible with xgboost_ray py39+
modin<0.26.0; python_version > '3.8'
dask

#workaround for now
protobuf<4.0.0
tensorboardX==2.2
